/**
 * JMM - Joomla MySQL Manager Component CSS
 */
.com-jmm-table table {
    margin-bottom: 0;
}

.jmm-font-mono {
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.sticky-top {
    position: sticky;
    top: 0;
    z-index: 10;
}